<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-firestore.js"></script>

        <script>
          // Your web app's Firebase configuration
          var firebaseConfig = {
            apiKey: "AIzaSyBAF1jevSp8_E5Okk9z6sMi-t4eRS4N9DE",
            authDomain: "tgsn-site-v7.firebaseapp.com",
            databaseURL: "https://tgsn-site-v7.firebaseio.com",
            projectId: "tgsn-site-v7",
            storageBucket: "tgsn-site-v7.appspot.com",
            messagingSenderId: "565689666494",
            appId: "1:565689666494:web:fc488b17f5018f569547ef"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
        </script>
        <script src='./index.js'></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:600|Sancreek&display=swap" rel="stylesheet">
        <style>
          html, body, #main {
            height: calc(100% - 4px);
            font-family: Sancreek;
          }
          #main{
            background-color: rgba(255, 255, 255, 0.5);
          }
          div h3 {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-shadow: 2px 2px black;
            padding-right: 4px;
          }
          #upcomingEvents{
            text-align: center;
          }
        </style>
    </head>

    <body>
      <table id='main' width='100%'>
        <tr>
          <td valign='top'>
            <h2 align='center'>Schedule Editor</h2>
            <table style='width: 100%;'>
              <tr>
                <td valign='top'>
                  <table style='width: calc(100% - 250px);'>
                    <tr>
                      <td align='right' valign='top' width='45%'>
                        ID:
                      </td>
                      <td>
                        <input type='number' id='id' disabled></input>
                      </td>
                    </tr>
                    <tr>
                      <td align='right' valign='top' width='45%'>
                        Date:
                      </td>
                      <td>
                        <input type='date' id='date'></input>
                      </td>
                    </tr>
                    <tr>
                      <td align='right' valign='top'>
                        Start Time:
                      </td>
                      <td>
                        <input type="time" id='sTime'>
                      </td>
                    </tr>
                    <tr>
                      <td align='right' valign='top'>
                        Pre-Show Game:
                      </td>
                      <td>
                        <input type="text" id='pShow'>
                      </td>
                    </tr>
                    <tr>
                      <td align='right' valign='top'>
                        Show:
                      </td>
                      <td>
                        <select id='show' size='1'>
                          <option>No Stream</option>
                          <option>The Gaming Saloon</option>
                          <option>Rampant Gaming</option>
                          <option>Weekly Co-Op</option>
                          <option>The Gaming Saloon Reviews</option>
                          <option>Peace Plays</option>
                          <option>Rampant Plays</option>
                          <option>Rampant Runs</option>
                          <option>Glock Plays</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td align='right' valign='top'>
                        Game:
                      </td>
                      <td>
                        <input type='text' id='game'>
                      </td>
                    </tr>
                    <tr>
                      <td colspan='2' align='center'>
                        <button onclick='setEvents()'>Add To Schedule</button>
                        <button onclick='removeEntry()'>Remove From Schedule</button>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width='250px' valign='top'>
                  <table>
                    <tr>
                      <td align='center'>
                        Filter: <input type='text' oninput='filter()' id='filter'></input>
                      </td>
                    </tr>
                    <tr>
                      <td valign='top'>
                        <div id='upcomingEvents' style='height: 85vh; overflow:auto;'>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
</html>

<!--Filter Scripting-->
<script>
  function filter(){
    var filterText = document.getElementById('filter').value.toLowerCase();
    console.log(currID, filterText);

    for (var i = 0; i < currID; i++){
      if (document.getElementById('fb'+i)){
        let eventDay = document.getElementById('fb'+i).innerHTML.toLowerCase();
        if (filterText == '' || !filterText){
          document.getElementById('fb'+i).style.display = 'initial';
          document.getElementById('fb'+i).style.textAlign = 'center';
        } else {
          if (eventDay.includes(filterText)){
            document.getElementById('fb'+i).style.display = 'initial';
            document.getElementById('fb'+i).style.textAlign = 'center';
          } else {
            document.getElementById('fb'+i).style.display = 'none';
            document.getElementById('fb'+i).style.textAlign = 'center';
          }
        }
      }
    }
  }
</script>
