<!DOCTYPE html>
<html>
<head>
	<title>TGSN Staff HQ - Schedule Editor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/bootstrap.min.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-firestore.js"></script>

	<script>
		// Your web app's Firebase configuration
		var firebaseConfig = {
			apiKey: "AIzaSyBAF1jevSp8_E5Okk9z6sMi-t4eRS4N9DE",
			authDomain: "tgsn-site-v7.firebaseapp.com",
			databaseURL: "https://tgsn-site-v7.firebaseio.com",
			projectId: "tgsn-site-v7",
			storageBucket: "tgsn-site-v7.appspot.com",
			messagingSenderId: "565689666494",
			appId: "1:565689666494:web:fc488b17f5018f569547ef"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
	</script>
	<script src='./index.js'></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:600|Sancreek&display=swap" rel="stylesheet">
</head>

<body>
	<table id='main' width='100%'>
		<tr>
			<td valign='top'>
			</td>
		</tr>
	</table>

	<script type="text/javascript" src = "../assets/script.js"></script>
	<script src="../assets/popper.min.js"></script>
	<script src="../assets/bootstrap.min.js"></script>
	<style type="text/css">
	  html, body {
	    height: 100%;
			font-family: Sancreek;
			font-size: 12px;
	  }
		body {
			background-image: url('./images/background.jpg');
		}
		#main{
			background-color: rgba(255,255,255,0.5)
		}
	</style>
</body>
<!--In-Page Scripting-->
<script>

</script>
</html>
