<!DOCTYPE html>
<html>
<head>
	<title>TGSN Staff HQ - Schedule Editor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/bootstrap.min.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-firestore.js"></script>

	<script>
		// Your web app's Firebase configuration
		var firebaseConfig = {
			apiKey: "AIzaSyBAF1jevSp8_E5Okk9z6sMi-t4eRS4N9DE",
			authDomain: "tgsn-site-v7.firebaseapp.com",
			databaseURL: "https://tgsn-site-v7.firebaseio.com",
			projectId: "tgsn-site-v7",
			storageBucket: "tgsn-site-v7.appspot.com",
			messagingSenderId: "565689666494",
			appId: "1:565689666494:web:fc488b17f5018f569547ef"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
	</script>
  <script src='../scripts/index.js'></script>
  <script src='../scripts/md5.js'></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:600|Sancreek&display=swap" rel="stylesheet">
  <link href='../styles.css' rel='stylesheet'>
</head>

<body>
	<table width='100%' id='topBar' height='50px' onclick='home()' style='position:fixed; top: 0; left: 0;'>
		<tr>
			<td width='20%' align='center'>
        <img src='../images/logo.png' width='40px' height="40px" />
      </td>
      <td valign='middle'>
        <span id='header'>TGSN Staff HQ</span>
			</td>
		</tr>
	</table>
	<table id='main' width='100%'>
		<tr>
			<td valign='middle'>
        <table align='center'>
          <tr>
            <td align='right' valign='middle'>
              Username:
						</td>
            <td valign='middle' align='left'>
              <input type="text" id='uName'>
						</td>
					</tr>
					<tr>
						<td align='right' valign='middle'>
              Password:
            </td>
						<td valign='middle' align='left'>
              <input type="password" id='pWord'>
						</td>
					</tr>
					<tr>
						<td valign='top' align='center' colspan="2">
              <button onclick='fLogin()' id='ud8Schedule'>Login</button>
            </td>
          </tr>
        </table>
        <div id='loginError'></div>
			</td>
		</tr>
	</table>

	<script type="text/javascript" src = "../assets/script.js"></script>
	<script src="../assets/popper.min.js"></script>
	<script src="../assets/bootstrap.min.js"></script>
	<style type="text/css">
	  html, body {
	    height: 100%;
			font-family: Sancreek;
			font-size: 14px;
	  }
		body {
			background-image: url('../images/background.jpg');
		}
		#main{
			background-color: rgba(255,255,255,0.5)
		}
		#topBar{
			background-color: rgba(0,0,0,1);
      color: white;
		}
    #header{
      font-size: 24px;
    }
	</style>
</body>
<!--In-Page Scripting-->
<script>
	var uName = document.getElementById('uName');
	var pWord = document.getElementById('pWord');
	uName.onkeyup = function(){
		if (event.keyCode === 13){
			fLogin();
		}
	}
	pWord.onkeyup = function(){
		if (event.keyCode === 13){
			fLogin();
		}
	}
	uName.focus();
  function home(){
    window.location.href = '../index.html';
  }
</script>
</html>
