<html>
  <head>
    <script>
      if (localStorage.getItem('menuAccess') == 'admin'){
        if (localStorage.getItem('position') == 'Network Admin'){
          window.location.replace('./index.html')
        } else {
          window.location.replace('./coord.html')
        }
      }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:600|Sancreek&display=swap" rel="stylesheet">
  </head>
  <body style='background: rgba(255,255,255,0.75); font-family: Sancreek;'>
    <h1 align='center'>That shouldn't have happened.</h1>
    <h3 align='center'>It appears you shouldn't have reached this page. If you have gotten this message as an error, please contact RampantEpsilon#7868 on Discord.</h3>
  </body>
</html>
